<div
    class="container"
>
    <div class="row align-items-md-stretch">

        <div class="col-md-12">
            <div
                class="h-100 p-5 bg-light border rounded-3"
            >
                <h2>{{apod.title}}</h2>
                <p>
                    <img
                        [src]="apod.url"
                        alt=""
                        class="img-fluid"
                    />
                <p>
                    {{apod.explanation}}
                </p>
            </div>
        </div>
    </div>
    
</div>
