<h1>
  Hello {{ title }}!
</h1>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	<li [ngbNavItem]="1">
		<button ngbNavLink>Calculators</button>
		<ng-template ngbNavContent>
      <app-calculator id = "1"></app-calculator>

		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<button ngbNavLink>Heroes</button>
		<ng-template ngbNavContent>
      <app-heroes></app-heroes>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<button ngbNavLink>Apod</button>
		<ng-template ngbNavContent>
			<app-apod></app-apod>
		</ng-template>
	</li>
	<li [ngbNavItem]="4">
		<button ngbNavLink>Star Wars</button>
		<ng-template ngbNavContent>
			<app-sw></app-sw>
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>


