<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{card.question}}</h4>
        <div class="d-grid gap-2">
            @for (answer of card.answers; track $index) {

                <button
                    type="button"
                    [class]="buttonClasses[$index]"
                    (click)="checkAnswer(answer, $index)"
                    [disabled]="card.isAnswered"
                >
                    {{answer}}
                </button>      
            }
        </div>
    </div>
</div> 