<div class="mb-3">
    <label for="" class="form-label">Name</label>
    <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
        [(ngModel)]="heroName"
    />
    <small id="helpId" class="form-text text-muted">Help text</small>
</div>

<div class="mb-3">
    <label for="" class="form-label">Descirption</label>
    <input
        type="text"
        class="form-control"
        name="description"
        id=""
        aria-describedby="helpId"
        placeholder=""
        [(ngModel)]="heroDescription"
    />
    <small id="helpId" class="form-text text-muted">Help text</small>
</div>
<button
    type="button"
    class="btn btn-primary mb-4"
    (click)="addHero()"
    [disabled]="heroName === ''"
>
    Add Hero
</button>