<div
    class="container"
>
<!-- <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options" (userChange)="handleChange($event)"></ngx-slider> -->
<div ngbDropdown class="d-inline-block">
    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
        Sort by
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        @for (item of sortArray; track $index) {
            <button ngbDropdownItem (click)="sortBy($index)">{{item.toString()}} </button>
        }
    </div>
</div>

    <div
        class="row justify-content-center align-items-center g-2"
    >
    @for (character of characters$ |filterByHeight: value: highValue | sortBy: sort | async; track $index) {
        <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{character.name}}</h4>
                    <p class="card-text">{{character.height}}</p>
                    <p class="card-text">{{character.mass}}</p>
                </div>
            </div>
            
        </div>

    }
</div>
    
</div>
